html {
background: url('./bootstrap/sidehustle2.jpeg.jpg') no-repeat center center fixed;
background-size: cover;
}

body {
    background-color: inherit;
}

.full-width {
    min-height: 100vh;
}

 @media (max-width:575.98px) {
     form{ width: 100%;}
     
 }
 
 .password{
     display: flex;
     flex-direction: row;
 }

i {
    margin-left: -30px; 
    cursor: pointer;
    padding-top: 13px;
}